<link href="/css/style.css" rel="stylesheet" type="text/css">
<header>
  <div class="logo">
    <a href="#">
      <img src="https://brandlogos.net/wp-content/uploads/2021/09/bootstrap-logo.png" alt="logo" class="logo-img">
    </a>
  </div>
  <div class="link">
    <ul>
      <li><a class="lien" href="/">Home</a></li>
      <li><a class="lien" href="/docs">Docs</a></li>
      <li><a class="lien" href="/about">About</a></li>
      <li><a class="lien" href="/contact">Contact</a></li>
      <li><a class="lien" href="/shop">Shop</a></li>
    </ul>
  </div>
  <div bouton>
    <ul class="ul-bouton">
      <li><a class="lien" href="https://github.com/AloneDay-91"><i class="fa-brands fa-github"></i></a></li>
      <li><a class="lien" href="https://github.com/AloneDay-91"><i class="fa-brands fa-discord"></i></a></li>
      <li class="li-bouton"><button type="button" id="btnprinci">Download</button></li>
    </ul>
  </div>
</header>