@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

header {
    background-color: #7952b3;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
    font-family: "Poppins", sans-serif;
    color: #464646;
}

main {
    padding-top: 80px;
    text-align: left;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
}

.logo {
  width: 70px;
  height: auto;
}

.logo-img {
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
}

.link {
    color: #fff;
    margin-top: -50px;
    margin-left: 100px;
    width: 400px;
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    padding-right: 20px;
    font-size: 18px;
}

a.lien {
    color: #fff;
    transition: all 0.4s ease;
    text-shadow: 1px black;
}

a.lien:hover {
    transition: all 0.4s ease;
    color: #fff;
}

.bouton {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: auto;
}

.ul-bouton {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    float: right;
    margin-top: -35px;
}

.li-bouton {
    padding-right: 20px;
    font-size: 20px;
}

i {
    padding-top: 10px;
    font-size: 16px;
    transition: all 0.4s ease;
}

i:hover {
    color: #ffe484;
    transition: all 0.4s ease;
}

#btnprinci {
    width: 120px;
    background-color: #ffe484;
    transition: all 0.4s ease;
    border-radius: 5px;
}

#btnprinci:hover {
    width: 120px;
    background-color: #cbb568;
    transition: all 0.4s ease;
}

.title-main {
    margin-top: 200px;
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: 900px;
}

.img {
    height: 500px;
    margin-top: -450px;
}

.img-title {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 300px;
}

#btn-title {
    width: 150px;
    margin-top: 30px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    font-size: 22px;
    background-color: #8912fc;
    transition: all 0.4s ease;
}

#btn-title2 {
    width: 150px;
    margin-top: 30px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    font-size: 22px;
    background-color: transparent;
    transition: all 0.4s ease;
    border: 2px solid #000;
    color: #000;
}

#btn-title:hover {
    background-color: #6f11f5;
    transition: all 0.4s ease;
    color: #fff;
    box-shadow: 0 0 30px #6f11f5;
}

#btn-title2:hover {
    background-color: #ffe484;
    transition: all 0.4s ease;
    color: #000;
    box-shadow: 0 0 30px #ffe484;
}

.text-title {
    text-align: left;
    font-size: 80px;
    padding-bottom: 30px;
    color: #212529;
}

.text-content {
    color: #4e5557;
    font-size: 23px;
}

.main-div {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.btn-title {
    position: relative;
    left: 0;
}

.col-md-5 {
    color: #212529;
}

.space {
    margin: 200px;
}

.space-code {
    margin: 30px;
}

.highlights {
    background-color: #f8f9fa;
    height: 70px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #000;
}

.btn-clipboard {
    width: 40px;
    height: 25px;
    font-size: 10px;
    position: relative;
    right: -20px;
    top: -25px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    float: right;
}

.language-sh {
    float: left;
}

.language-html {
    float: left;
}

.btn-col {
    height: 50px;
    width: 250px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #0d6efd;
    background-color: transparent;
    color: #0d6efd;
    margin-bottom: 200px;
}

.title-col {
    font-size: 50px;
    margin-bottom: 30px;
}

.title-v2-col {
    font-size: 20px;
    margin-bottom: 20px;
    color: #212529;
}

.content-col {
    font-size: 15px;
    margin-bottom: 30px;
}

code {
    color: #6f11f5 !important;
}

.space-high {
    margin-top: 50px;
}

footer {
    width: 100%;
    height: auto;
    background-color: #f8f9fa;
}

.col {
    width: 500px;
    background-color: transparent;
    margin-right: 10px;
}

li.list-vers {
    font-size: 15px;
    color: #4e5557;
    font-weight: 300;
}

li.list-vers-a {
    text-decoration: underline;
    font-weight: 300;
    font-size: 15px;
}

a.list-a {
    color: #4e5557;
    transition: all 0.4s ease;
}

a.list-a:hover {
    color: #6f11f5;
    transition: all 0.4s ease;
}

.row {
    padding-top: 10%;
    color: #282f29;
    width: auto;
    height: auto;
}

.container-2 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#col-text {
    margin-right: 150px;
    margin-left: 150px;
}

.link-title-footer {
    display: flex;
}

.d-block.me-2 {
    margin-right: 10px;
    margin-top: -2px;
}

a.title-link {
    font-size: 18px;
    color: #4e5557;
    font-weight: 100;
    padding-bottom: 10px;
    transition: all 0.4s ease;
    display: flex;
    text-align: left;
}

a.title-link:hover {
    color: #6f11f5;
    transition: all 0.4s ease;
    text-decoration: none;
}

p.title-link {
    color: #000;
    font-size: 15px;
    margin-bottom: 5px;
}

p.content-link {
    font-size: 13px;
    color: #6c757d;
}

.list-footer-1 {
    display: inline;
}

p.title-link {
    font-size: 20px;
}

.lien-link {
    font-size: 15px;
    padding-bottom: 5px;
}

.text-link-a {
    color: #6c757d;
    font-weight: 100;
    transition: all 0.3s ease;
}

.text-link-a:hover {
    color: #6f11f5;
    transition: all 0.3s ease;
}

p.text-footer {
    text-align: center;
    color: #6c757d;
    margin-top: 70px;
    background-color: #f8f9fa;
}

.fa-solid.fa-heart:hover {
    color: red;
}

a.link-footer {
    color: #6c757d;
    font-weight: 100;
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
}

a.link-footer:hover {
    color: #6f11f5;
    transition: all 0.3s ease;
}

#scrollUp
{
position: fixed;
bottom : 10px;
right: 30px;
opacity: 0.5;
}

i.fa-solid.fa-angles-up {
    font-size: 43px;
    color: black;
    scroll-behavior: smooth;
}

.search {
    width: 100%;
    height: 100px;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 20px #000;
}

#searchbar {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 3px solid #000;
    margin-top: -40px;
    text-align: left;
    margin-left: auto;
}

.input-search {
    width: 100%;
    display: flex;
    padding-right: 50px;
}

#searchbar::placeholder {
    font-size: 18px;
    padding-left: 10px;
}

#column-shop {
    width: 370px;
    height: 500px;
    background-color: transparent;
    padding: 0;
    border-radius: 5px;
    border: 3px solid #000;
    transition: all 0.4s ease;
}

#column-shop:hover {
    box-shadow: 0px 0px 20px #000;
    color: #6f11f5;
    transition: all 0.4s ease;
}

.div-title {
    width: auto;
    text-align: center;
    color: #000;
    background-color: transparent;
    margin-left: 0px;
    height: 60px;
    padding-top: 15px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.div-img {
    width: auto;
    height: auto;
}

.div-content {
    width: auto;
    text-align: center;
    color: #000;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
}

.div-price {
    width: auto;
    text-align: center;
    color: #000;
    background-color: transparent;
    font-size: 27px;
    font-family: "Poppins", sans-serif;
    height: auto;
}

.img-card {
    width: auto;
    height: 150px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.link-card {
    width: auto;
    background-color: transparent;
    text-decoration: none;
}

.link-card:hover {
    width: auto;
    background-color: transparent;
    text-decoration: none;
}

.fa-solid.fa-star {
    color: #8912fc;
}

.fa-solid.fa-star:hover {
    color: #ffe484;
}

ul.list-star {
    display: flex;
    justify-content: center;
}

.star {
    margin-bottom: 22px;
}

.btn-card {
    width: 100%;
    background-color: #8912fc;
    color: #fff;
    margin-top: 20px;
    height: 65px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
    transition: all 0.4s ease;
}

.btn-card:hover {
    color: #000;
    transition: all 0.4s ease;
}

.text-btn-price {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text-btn-price:hover {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.panier {
    margin-top: 30px;
    margin-left: 30px;
    border: 3px solid #000;
    transition: all 0.4s ease;
    border-radius: 50%;
    opacity: 1;
}
.fa-solid.fa-cart-shopping {
    font-size: 25px;
    color: #000;
}

.panier:hover {
    color: #000;
    transition: all 0.4s ease;
    opacity: 0.6;
}

/*FENETRE MODAL*/

.modal-window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.title-panier {
    font-size: 28px;
    font-weight: 300;
    color: #000;
    text-align: center;
}

.list-panier {
    display: inline;
    width: 100%;
}

.col-panier {
    width: 100%;
    height: 100px;
    border: 1px solid #000;
    margin-bottom: 10px;
    color: #000;
    display: flex;
}

.row-panier {
    padding-top: 40px !important;
}

.text-panier {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    padding-top: 35px;
    padding-left: 10px;
}

.close.close-panier {
    margin-left: auto;
}

.btn-modale {
    display: flex;
    justify-content: center;
}

.btn-panier1 {
    width: 250px;
    background-color: #8912fc;
    color: #fff;
    margin-top: 20px;
    height: 50px;
    display: flex;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    border: 3px solid #000;
    text-align: center;
    transition: all 0.4s ease;
}

.btn-panier1:hover {
    color: #000;
    transition: all 0.4s ease;
    box-shadow: 0px 0px 20px #8912fc;
}

.btn-panier2:hover {
    color: #fff;
    transition: all 0.4s ease;
    box-shadow: 0px 0px 20px #ffe484;
}

.btn-panier2 {
    width: 250px;
    background-color: #ffe484;
    color: #000;
    margin-top: 20px;
    height: 50px;
    display: flex;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    border: 3px solid #000;
    text-align: center;
    transition: all 0.4s ease;
}

.txt-btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
}