<!DOCTYPE html>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main class="main-shop">
    <div class="search" id="myHeader">
        <div class="content-shop">
            <button class="panier" id="myBtn"><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
        <div class="input-search">
            <input type="search" name="seach" id="searchbar" placeholder="Search...">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <a href="/shop" class="link-card">
                <div class="col" id="column-shop">
                    <div class="div-img">
                        <img class="img-card" src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/15b85bdb-aa12-4060-83d0-5163d11b314e/chaussure-air-force-1-07-pour-pXTXQ8.png" alt="">
                    </div>
                    &nbsp;
                    <div class="div-title">
                        <p>Article1</p>
                    </div>
                    &nbsp;
                    <div class="div-content">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    &nbsp;
                    <div class="div-price">
                        <p>120€</p>
                    </div>
                    <div class="star">
                        <ul class="list-star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                    <div>
                        <button type="button" class="btn-card"><p class="text-btn-price">Add to cart</p></button>
                    </div>
                </div>
            </a>
            <a href="/shop" class="link-card">
                <div class="col" id="column-shop">
                    <div class="div-img">
                        <img class="img-card" src="https://static.nike.com/a/images/f_auto/dpr_3.0,cs_srgb/w_300,c_limit/2148e485-f33c-4cb1-ac6c-79a37aca28b2/chaussures-v%C3%AAtements-et-accessoires-pour-homme.png" alt="">
                    </div>
                    &nbsp;
                    <div class="div-title">
                        <p>Article2</p>
                    </div>
                    &nbsp;
                    <div class="div-content">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    &nbsp;
                    <div class="div-price">
                        <p>90€</p>
                    </div>
                    <div class="star">
                        <ul class="list-star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                    <div>
                        <button type="button" class="btn-card"><p class="text-btn-price">Add to cart</p></button>
                    </div>
                </div>
            </a>
            <a href="/shop" class="link-card">
                <div class="col" id="column-shop">
                    <div class="div-img">
                        <img class="img-card" src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/tiwlictvqgnmoixsnrpz/chaussure-tanjun-pour-MkTmejeq.png" alt="">
                    </div>
                    &nbsp;
                    <div class="div-title">
                        <p>Article3</p>
                    </div>
                    &nbsp;
                    <div class="div-content">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    &nbsp;
                    <div class="div-price">
                        <p>60€</p>
                    </div>
                    <div class="star">
                        <ul class="list-star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                    <div>
                        <button type="button" class="btn-card"><p class="text-btn-price">Add to cart</p></button>
                    </div>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="/shop" class="link-card">
                <div class="col" id="column-shop">
                    <div class="div-img">
                        <img class="img-card" src="https://u4n2q9h4.rocketcdn.me/wp-content/images/2021/05/off-white-nike-air-force-1-low-university-gold-dd1876-700-preview-ed0.jpg" alt="">
                    </div>
                    &nbsp;
                    <div class="div-title">
                        <p>Article4</p>
                    </div>
                    &nbsp;
                    <div class="div-content">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    &nbsp;
                    <div class="div-price">
                        <p>200€</p>
                    </div>
                    <div class="star">
                        <ul class="list-star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                    <div>
                        <button type="button" class="btn-card"><p class="text-btn-price">Add to cart</p></button>
                    </div>
                </div>
            </a>
            <a href="/shop" class="link-card">
                <div class="col" id="column-shop">
                    <div class="div-img">
                        <img class="img-card" src="https://img.20mn.fr/GdZA4rEOSIOboW2t1uNR1yk/768x492_decouvrez-remises-nike-plus-belles-sneakers-jordan-pegasus-air-max.jpg" alt="">
                    </div>
                    &nbsp;
                    <div class="div-title">
                        <p>Article5</p>
                    </div>
                    &nbsp;
                    <div class="div-content">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    &nbsp;
                    <div class="div-price">
                        <p>150€</p>
                    </div>
                    <div class="star">
                        <ul class="list-star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                    <div>
                        <button type="button" class="btn-card"><p class="text-btn-price">Add to cart</p></button>
                    </div>
                </div>
            </a>
            <a href="/shop" class="link-card">
                <div class="col" id="column-shop">
                    <div class="div-img">
                        <img class="img-card" src="https://static.nike.com/a/images/t_prod_ss/w_960,c_limit,f_auto/953f8c77-48ab-4583-b040-c04a3a93ab32/date-de-sortie-de-la-ajko%C2%A01-%C2%AB%C2%A0chicago%C2%A0%C2%BB.jpg" alt="">
                    </div>
                    &nbsp;
                    <div class="div-title">
                        <p>Article6</p>
                    </div>
                    &nbsp;
                    <div class="div-content">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    &nbsp;
                    <div class="div-price">
                        <p>130€</p>
                    </div>
                    <div class="star">
                        <ul class="list-star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                    <div>
                        <button type="button" class="btn-card"><p class="text-btn-price">Add to cart</p></button>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
        <span class="close">&times;</span>
        <h3 class="title-panier">Votre Panier</h3>
        <div class="row-panier">
            <ul class="list-panier">
                <li>
                    <div class="col-panier">
                        <p class="text-panier">herkvidjbivrjenvijernvirebvirehb</p>
                        <p class="text-panier">-</p>
                        <p class="text-panier">10€</p>
                        <span class="close close-panier">&times;</span>
                    </div>
                </li>
                <li>
                    <div class="col-panier">
                        <p class="text-panier">herkvidjbijvnreiuvneriuvn</p>
                        <p class="text-panier">-</p>
                        <p class="text-panier">50€</p>
                        <span class="close close-panier">&times;</span>
                    </div>
                </li>
                <li>
                    <div class="col-panier">
                        <p class="text-panier">herkvidjbiijvneivjnreinj</p>
                        <p class="text-panier">-</p>
                        <p class="text-panier">14.99€</p>
                        <span class="close close-panier">&times;</span>
                    </div>
                </li>
            </ul>
            <ul class="btn-modale">
                <li><button class="btn-panier1"><p class="txt-btn">Poursuivre les achats</p></button></li>
                <li><button class="btn-panier2"><p class="txt-btn">Procédé au paiement</p></button></li>
            </ul>
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>

<script>
    // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<script>
    // When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("myHeader");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>